In [ ]:
#dataset I need: first names of all bootcamp graduates/attendees (manually/scraping) - Linkedin
#treatment I need: classification based on first names into male/female (Naive Bayes with dictionaries of most common names?)

#look at word stems
#how many features 
#Facebook API is pretty limited--first names and genders from public profiles from Facebook
#Find a Wikipedia project containing all the articles: organize in a taxinomy: gender/first name with labels, look into XML dumps
#open source dictionary

#two big challenges
#Wrangling together as many as name/gender matches to create a classifier
#Wrangling together first names of bootcamp graduates

#http://stackoverflow.com/questions/33440939/cant-pip-install-packages-in-anaconda
#https://en.wikipedia.org/wiki/Category:Feminine_given_names

In [ ]:
import matplotlib as mpl
mpl.use('TkAgg')

In [3]:
import pandas as pd

In [4]:
names = pd.read_csv("NationalNames.csv")
names.head(3)
len(names)/2

912716.5

In [10]:
now = names[names.Year == 2014]
now.head(20)
#groupby and do gender count by name : Name, Gender, Count
#using data from all of the years could be useful ex: edge cases like winfred
#consider adding UK name set
#consider looking into pivottable : http://pandas.pydata.org/pandas-docs/stable/reshaping.html

#binary classification can be used for names in the table
#Naive Bayes model can be built on character traits and character transitions to define a name not in the table 
#go through coursereport and take 500 names

#Action items for next week
#1 - Clean up the dataframe here, do a first pass for the gender classifier
#2 - Draft more on the story of the project
#3 - Use requests and BS4 and get at least 300-500 names from CourseReport

              Id       Name  Year Gender  Count
1792389  1792390       Emma  2014      F  20799
1792390  1792391     Olivia  2014      F  19674
1792391  1792392     Sophia  2014      F  18490
1792392  1792393   Isabella  2014      F  16950
1792393  1792394        Ava  2014      F  15586
1792394  1792395        Mia  2014      F  13442
1792395  1792396      Emily  2014      F  12562
1792396  1792397    Abigail  2014      F  11985
1792397  1792398    Madison  2014      F  10247
1792398  1792399  Charlotte  2014      F  10048
1792399  1792400     Harper  2014      F   9564
1792400  1792401      Sofia  2014      F   9542
1792401  1792402      Avery  2014      F   9517
1792402  1792403  Elizabeth  2014      F   9492
1792403  1792404     Amelia  2014      F   8727
1792404  1792405     Evelyn  2014      F   8692
1792405  1792406       Ella  2014      F   8489
1792406  1792407      Chloe  2014      F   8469
1792407  1792408   Victoria  2014      F   7955
1792408  1792409     Aubrey  2014      F   7589

In [12]:
nowmale = now[now.Gender == "M"]
nowmale.head(3)

              Id   Name  Year Gender  Count
1811456  1811457   Noah  2014      M  19144
1811457  1811458   Liam  2014      M  18342
1811458  1811459  Mason  2014      M  17092

In [13]:
nowemma = now[now.Name == "Emma"]
nowemma.head(3)

              Id  Name  Year Gender  Count
1792389  1792390  Emma  2014      F  20799
1818165  1818166  Emma  2014      M     12

In [1]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.7.1.tar.gz (158kB)
    100% |████████████████████████████████| 163kB 245kB/s
Building wheels for collected packages: seaborn
  Running setup.py bdist_wheel for seaborn ... - \ | / - \ done
  Stored in directory: /Users/rogerhuang/Library/Caches/pip/wheels/cb/c8/67/83d615c0ef9b529558525aa521025b183de8c5b156799b091e
Successfully built seaborn
Installing collected packages: seaborn
Successfully installed seaborn-0.7.1

In [20]:
import matplotlib
import seaborn

/Users/rogerhuang/downloads/ENTER/lib/python3.5/site-packages/matplotlib/__init__.py:1357: UserWarning:  This call to matplotlib.use() has no effect
because the backend has already been chosen;
matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)

RuntimeError: Python is not installed as a framework. The Mac OS X backend will not be able to function correctly if Python is not installed as a framework. See the Python documentation for more information on installing Python as a framework on Mac OS X. Please either reinstall Python as a framework, or try one of the other backends. If you are Working with Matplotlib in a virtual enviroment see 'Working with Matplotlib in Virtual environments' in the Matplotlib FAQ

In [13]:
fortyfive = names[names.Year == 1945]
fortyfive.head(10)

            Id      Name  Year Gender  Count
412324  412325      Mary  1945      F  59284
412325  412326     Linda  1945      F  41465
412326  412327   Barbara  1945      F  38272
412327  412328  Patricia  1945      F  35841
412328  412329     Carol  1945      F  30387
412329  412330    Sandra  1945      F  24700
412330  412331     Nancy  1945      F  21454
412331  412332    Sharon  1945      F  20832
412332  412333    Judith  1945      F  20187
412333  412334     Susan  1945      F  19223

In [14]:
fortyfivemen = fortyfive[fortyfive.Gender == "M"]
fortyfivemen.head(5)

            Id     Name  Year Gender  Count
417567  417568    James  1945      M  74450
417568  417569   Robert  1945      M  69926
417569  417570     John  1945      M  66123
417570  417571  William  1945      M  50209
417571  417572  Richard  1945      M  46045

In [15]:
fortyfivemen.tail(5)

            Id       Name  Year Gender  Count
421344  421345     Ysmael  1945      M      5
421345  421346   Zacarias  1945      M      5
421346  421347       Zach  1945      M      5
421347  421348  Zachariah  1945      M      5
421348  421349      Zenon  1945      M      5